<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Student Registration Form</title>
	
	</head>
	
	<body>
		<h3>Student Registration Form </h3>
		<form th:action="@{/processStudentForm}" th:Object="${student}" method="POST">
			FirstName :<input type="text"  th:field="*{firstName}"/>
			<br><br>
			LastName :<input type="text"  th:field="*{lastName}"/>
            <br><br>
            <!-- 
            <select th:field="*{country}">
				<option th:value="Brazil">Brazil</option>
				<option th:value="France">France</option>
				<option th:value="Germany">Germany</option>
				<option th:value="Paris">Paris</option>>	
            </select>-->
            <select th:field="*{country}">
				<option th:each="tCountry : ${countries}" th:value="${tCountry}" th:text="${tCountry}"></option>
			</select>
			<br><br>
			Favourite Programming :
			<!-- 
			<input type="radio" th:field="*{favoriteLanguage}" th:value="GO">Go</input>
			<input type="radio" th:field="*{favoriteLanguage}" th:value="JAVA">JAVA</input>
			<input type="radio" th:field="*{favoriteLanguage}" th:value="PYTHON">PYTHON</input>-->
	        <input type="radio" th:field="*{favoriteLanguage}" th:each="templang :${languages}" th:value="${templang}" th:text="${templang}"/>
            <br><br>
            <input type="submit" value="submit"/>
		</form>
	</body>
</html>